# OS files
.DS_Store
Thumbs.db
Desktop.ini
ehthumbs.db

# Editor directories
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
*~

# Environment files
*.env
*.env.local

# Node
node_modules/

# .NET
bin/
obj/
*.db
*.db-shm
*.db-wal
